@model IList<SurvApe2._0.Models.Question>

@{
    ViewBag.Title = "AnswerQuestions";
}

<h2>AnswerQuestions</h2>
@using (Html.BeginForm("Submit", "Questions"))
{


    for (var i = 0; i < Model.Count; i++)
    {
                    var item = Model.ElementAt(i);

        <table>
            <tr>
                <td> @Html.Label((i + 1).ToString()) </td>
                <td> @item.QuestionText </td>
@if (Model[i].Type == SurvApe2._0.Models.QuestionType.Text)
{
    <td> <text>Answer</text> @Html.TextBoxFor(m => m[i].Value, "Value")</td>
                @Html.HiddenFor(x => x[i].SurveyId)
}
@if (Model[i].Type == SurvApe2._0.Models.QuestionType.MultipleChoice)
{
    @Html.RadioButtonFor(m => m[i].Value, "Value")
}


            </tr>   
        </table>
    }
    <div>
        <input type="submit" value="Submit" />
    </div>
}